<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.tmpl"}}
    <title>Login with Spotify</title>
</head>
<body>
{{ template "header.tmpl"}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <a class="btn btn-success" href="{{.}}" role="button">Login with Spotify</a>
        </div>
    </div>
</div>

</body>
</html>
