[Unit]
Description=Pixleate service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/local/pixelate

[Install]
WantedBy=multi-user.target