<!DOCTYPE html>
<html lang="en">
<head>
    <title>πixelate</title>
    <script src="/static/js/home.js"></script>
</head>
<body>
<h1>

</h1>
<h3>Current Agent:</h3>
{{if .CurrentAgentRunning}}
    <p>{{.CurrentAgent}}</p>
    <br/>
    <br/>
    <h4>Current Config</h4>
    <form method="post" action="/agents/current/config" id="current-agent-form" onchange="">
        {{range $name, $val := .Config }}
            <label for="{{$name}}">{{$name}}</label>
            <input type="text" id="{{$name}}" name="{{$name}}" value="{{$val}}"><br/><br/>
        {{end}}
    </form>
    <br/>
    <button onclick="stopAgent()">Stop Current Agent</button>
    <b>Attributes</b>
    {{range $html := .Attributes}}
        {{$html}}
        <br/>
    {{end}}
{{else}}
    <p>Nothing is running</p>
{{end}}
<hr/>

<h3>Set new agent</h3>
<form method="post" action="/agents/current" id="current-agent-form" onchange="">
    <label for="agent">agent</label>
    <select name="agent" id="agent" form="current-agent-form">
        {{range $agent := .Agents}}
            <option value="{{$agent}}">{{$agent}}</option>
        {{end}}
    </select>
    <br/>
    <input type="submit" name="Set new agent">
</form>
</body>
</html>
