<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head.tmpl"}}
    <script>
        const serviceName = "{{.serviceName}}"
    </script>
    <script defer src="/static/js/config.js"></script>
    <title>Pi Matrix</title>
</head>
<body>
{{ template "header.tmpl"}}
<div class="container">
    <div id="loadingIcon" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div id="configForm" style="visibility: hidden">
        <form action="/service/{{.serviceName}}/config" method="POST">
            <div class="input-group" id="configValues">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>