<!DOCTYPE html>
<html lang="en">
<head>
    <title>πixelate</title>
    <script src="/static/index.js"></script>
</head>
<body>
<h1>

</h1>
<h3>Current Agent:</h3>
{{if .CurrentAgentRunning}}
    <p>{{.CurrentAgent}}</p>
    <br/>
    <br/>
    <h4>Current Screen Config</h4>
    <form method="post" action="/screens/current/config" id="current-agent-form" onchange="">
        {{range $name, $val := .Config }}
            <label for="{{$name}}">{{$name}}</label>
            <input type="text" id="{{$name}}" name="{{$name}}" value="{{$val}}"><br/><br/>
        {{end}}
    </form>
    <br/>
    <button onClick="clearScreen().bind(window.location)">Clear Screen</button>
    <b>Attributes</b>
    {{range $html := .Attributes}}
        {{ $html.GenerateHTML }}
        <br/>
    {{end}}
{{else}}
    <p>Nothing is running</p>
{{end}}
<hr/>

<h3>Set new screen</h3>
<form method="post" action="/screens/current" id="current-screen-form" onchange="">
    <label for="screen">screen</label>
    <select name="screen" id="screen" form="current-screen-form">
        {{range $screen := .Screens}}
            <option value="{{ $screen }}">{{ $screen }}</option>
        {{end}}
    </select>
    <br/>
    <input type="submit" name="Set new agent">
</form>
</body>
</html>
